@model salesProject.Models.OrderSearchArg
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>訂單查詢</h2>
@using (Html.BeginForm("Index", "Order", FormMethod.Post, new { id = "Form1" }))
{
    <div id="SearchConditionSection">
        <table class="table table-bordered">
            <tr>
                <td>客戶編號</td>
                <td>
                    @Html.TextBoxFor(model => model.OrderId)

                </td>
            </tr>
            <tr>
                <td>客戶名稱</td>
                <td>
                    @Html.TextBoxFor(model => model.CustName)

                </td>
            </tr>
            <tr>
                <td>負責員工</td>
                <td>
                    @Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.EmpCodeData, "請選擇員工")
                </td>
            </tr>
            <tr>
                <td>訂購日期</td>
                <td>
                    @Html.TextBoxFor(model => model.OrderDate, new { @type = "date" })
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input class="btn btn-default" id="search" type="button" value="查詢" />
                    <input class="btn btn-default" type="button" value="清除" onclick="location.href='/Order'" />
                    <input class="btn btn-default" type="button" value="新增訂單" onclick="location.href='/Order/InsertOrder'">

                </td>

            </tr>
        </table>
    </div>
    if (TempData["ok"] != null)
    {
        <div id="MssageBox" class="alert alert-success">
            <i class="fa fa-info-circle pull-left fa-2x"></i>@TempData["ok"]
        </div>
    }
    <div id="SearchResultSection">     
        <div id="grid"></div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $(".btn-default").kendoButton();
        $(".btnDelete").kendoButton();
        $("#search").click(function () {

            $.ajax({
                type: "POST",
                url: "/Order/Order",
                
                dataType: "json",
                success: function (response) {
                    var sharedDataSource = new kendo.data.DataSource({
                        data: response
                    });
                    $("#grid").kendoGrid({
                        dataSource: sharedDataSource,
                        columns: [
                            {
                                field: "CustName",
                                title: "CustName"
                            },
                            {
                                field: "CustomerID",
                                title: "CustomerID",
                            }]
                    });
                    console.log(sharedDataSource);
                }
            });
        })
        /*
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Order/Order",
                    dataType: "jsonp"
                }
            },
            requestStart: function () {
                kendo.ui.progress($("#grid"), true);
            },
            requestEnd: function () {
                kendo.ui.progress($("#products"), false);
            }
        });

        dataSource.read();
       */
   

        //按刪除POST JSON到DeleteOrder
        $(".btnDelete").click(function (e) {

            var r = confirm("你確定要刪除嗎?");
            if (r == true) {
                var tr = $(this).closest('tr')
                $.ajax({
                    type: "POST",
                    url: "/Order/DeleteOrder",
                    data: "orderId=" + $(this).next().val(),
                    dataType: "json",
                    success: function (response) {
                        $(tr).remove();  //那行刪掉
                    }
                });
            } else {

            }

            return false;
        });
    });
</script>