<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Johnny Yu SalesProject</title>
    <link href="~/Content/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.black.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.dataviz.blueopal.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.common-nova.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.nova.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.nova.mobile.min.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/kendo.web.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
    <script src="~/Scripts/jszip.min.js"></script>
   
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Johnny Yu ASP.NET SalesProject</p>
        </footer>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
